
section{
    display: flex;
    justify-content: center;
    
}
figure{
    text-align: center;
}



aside{
    margin-top:45px ;
    margin-bottom: 45px;
    border: #b94503 1px solid ;
    width: 60%;
    max-width: 300px;
    padding: 3%;
}

@media (max-width: 500px){
    section{
        display:initial;
        margin-left: 10%;
    }

    aside{
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
    }    
}
